extends layout

block content
  section.container
    section.left-column
    section.center-column
      h1.page-title= title
      p Create a new password for your account.
      
      form(action="/users/reset-password", method="POST")
        input(type="hidden", name="token", value=token)
        
        div.form-group
          label(for="password") New Password
          input.form-control(type="password", id="password", name="password", required, minlength="3")
        
        div.form-group
          label(for="confirmPassword") Confirm Password
          input.form-control(type="password", id="confirmPassword", name="confirmPassword", required)
        
        div.form-group
          button.submit-bttn(type="submit") Reset Password